* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.section {
    height: 100vh;
    background-color: #7b1fa2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.menu__nav {
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: -25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.menu__nav {
    transition: 0.2s;
    transform-origin: right center;
    transform: translateX(50%);
    opacity: 0;
}

.menu__nav-active{
    transform: translateX(0%);
    opacity: 1;
}

.menu__item {
    display: inline-block;
    text-decoration: none;
    color: #222;
    margin-right: 20px;
}

.menu__btn {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}

.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 10px);
    width: 20px;
    height: 2px;
    background-color: #222;
}

.menu__btn span::before,
.menu__btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
}

.menu__btn span::before {
    transform: translateY(-5px);
}

.menu__btn span::after {
    transform: translateY(5px);
}

/* .menu__btn-active span {
    height: 0;
} */

.menu__btn-active span::before {
    transform: rotate(-35deg);
    transform-origin: left bottom;
    width: 10px;
}

.menu__btn-active span::after {
    transform: rotate(35deg);
    transform-origin: left top;
    width: 10px;
}

